/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  padding-top: 60px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.image-search-form {
  width: 371px;
  display: flex;
  column-gap: 8px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(128, 128, 128);
  margin-bottom: 50px;
}

.image-search-input {
  width: 272px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.image-search-submit-btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* ASK ABOUT LETTER-SPACING */


.iziToast-wrapper-topRight {
  top: 50px;
  right: 20px;
}

.iziToast-wrapper-topRight .iziToast > .iziToast-body .iziToast-message,
.iziToast > .iziToast-body .iziToast-title {
  font-size: 16px;
  line-height: 1.5;
}

.iziToast > .iziToast-body .iziToast-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fafafb;
}

.iziToast-wrapper .iziToast {
  border-radius: 4px;
}

.iziToast-wrapper .iziToast>.iziToast-close {
  background: url("../sprite.svg#icon-easy-toast-close") no-repeat 50% 50%;
}
/* GALLERY */

.images-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 72px) / 4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image-link {
  display: block;
  height: 200px;
  overflow: hidden;
}

.gallery-image {
  object-fit: cover;
  height: 100%;
}

.tags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.tag-name {
  font-weight: 600;
}

